In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
from sklearn.linear_model import LinearRegression

In [3]:
test_data = pd.read_csv('test.csv')
train_data = pd.read_csv('train.csv')

In [4]:
train_data.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [5]:
train_data.columns

Index(['ID', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad',
       'tax', 'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [6]:
X_train = train_data[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad','tax', 'ptratio', 'black', 'lstat']]
y_train = train_data['medv']
X_test = test_data[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad','tax', 'ptratio', 'black', 'lstat']]

In [7]:
#sns.pairplot(X_train)

In [8]:
linear = LinearRegression(n_jobs=-1)

In [9]:
linear.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1, normalize=False)

In [10]:
pd.DataFrame(linear.coef_,index=['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad','tax', 'ptratio', 'black', 'lstat'],columns=['Coefficient'])

         Coefficient
crim       -0.052489
zn          0.047445
indus       0.053855
chas        3.784864
nox       -15.739657
rm          3.768832
age        -0.004627
dis        -1.548823
rad         0.328967
tax        -0.012866
ptratio    -0.856976
black       0.011666
lstat      -0.600315

In [11]:
linear.intercept_

34.045437763505866

In [12]:
predict = linear.predict(X_test)

In [13]:
result = pd.DataFrame(predict,index=test_data.ID,columns=['medv'])

In [15]:
result.to_csv(path_or_buf='Boston_Housing.csv')

In [16]:
result.count()

medv    173
dtype: int64